# Cargo deny configuration for security, license, and maintenance checks
# See https://github.com/EmbarkStudios/cargo-deny for more details

[licenses]
version = 2
allow = [
    "MIT",
    "MIT-0",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "bzip2-1.0.6",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Zlib",
]
exceptions = []

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0c0542 }]

[[licenses.clarify]]
name = "cssparser"
expression = "MPL-2.0"
license-files = [{ path = "LICENSE", hash = 0x0ea32916 }]

[[licenses.clarify]]
name = "web-sys"
expression = "MIT OR Apache-2.0 OR MPL-2.0"
license-files = [{ path = "LICENSE-MIT", hash = 0xeb3b9901 }]

[[licenses.clarify]]
name = "js-sys"
expression = "MIT OR Apache-2.0 OR MPL-2.0"
license-files = [{ path = "LICENSE-MIT", hash = 0xeb3b9901 }]

[licenses.private]
ignore = false
registries = ["*"]

[advisories]
db-urls = ["https://github.com/rustsec/advisory-db"]
ignore = []

[bans]
multiple-versions = "warn"
wildcards = "allow"
deny = []
skip = []
skip-tree = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = [
    "https://github.com/rust-lang/crates.io-index",
]
allow-git = []
