[package]
name = "shiplog-workstreams"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
chrono.workspace = true
serde.workspace = true
serde_yaml.workspace = true
shiplog-ids = { path = "../shiplog-ids" }
shiplog-schema = { path = "../shiplog-schema" }
shiplog-ports = { path = "../shiplog-ports" }

[dev-dependencies]
tempfile = "3"
