[package]
name = "shiplog-ids"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true
sha2.workspace = true
hex.workspace = true
