[package]
name = "shiplog-ports"
version = "0.1.1"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
shiplog-schema = { path = "../shiplog-schema", version = "0.1.1" }

