[package]
name = "shiplog-ports"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
shiplog-schema = { path = "../shiplog-schema" }
