[package]
name = "shiplog-render-json"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
serde_json.workspace = true
shiplog-schema = { path = "../shiplog-schema" }
